.hero {
    padding-bottom: 505px;
    background-image: url(../images/balloons-8476432_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        text-align: center;
        padding-top: 200px;
        font-size: 100px;
        color:rgb(0, 47, 255);
    }

    @media screen and (max-width: 640px) {
        padding-bottom: 150px;

        &__title {
            padding-top: 80px;
            font-size: 80px;
        }
    }
}